
.drawtable {
  max-width: 100%;
  font-size: 12px;
  word-wrap : break-word
}

.drawtable td{
 background-color: rgb(190, 248, 194);
 border:  0.5px solid ;
 word-wrap : break-word
  
}
.alarmcolor {
  color: red;
  font-weight: 900;
}
.limit_width {
  
  max-width: 250px;
}
.our_table {
  width:100%;
}