.up_form {
/* display: block; */
/* width: 100%; */
background-color: rgb(56, 184, 216);
min-height: 30px;
margin: 0;

}
.drawtable {
  max-width: 99%;
  font-size: 12px;
  word-wrap : break-word
}
table, tbody {
  max-width: 100%;
}
.drawtable td{
 background-color: rgb(228, 242, 247);
 border:  0.5px solid ;
 word-wrap : break-word
  
}
.alarmcolor {
  color: red;
  font-weight: 900;
}
.limit_width {
  
  max-width: 250px;
}
.our_table {
  width:100%;
  
}

.BlinkColor {
 
  color:darkgray
}
