.up_form {
/* display: block; */
display: flex;
width: 100%;
background-color: rgb(176, 240, 210);
min-height: 30px;
margin: 0;

}
.mobile_web {
  margin: 5px;
}


.drawtable {
  /* max-width: 99%; */
  font-size: 12px;
  word-wrap : break-word;
  }

 .drawtable td{
 background-color: rgb(228, 242, 247);
 border:  0.5px solid ;
 word-wrap : break-word;
 text-align: center;
  
}
.alarmcolor {
  color: red;
  font-weight: 900;
}
.limit_width {
  
  max-width: 250px;
}
.our_table {
  overflow-x:visible;
  
  
}


.RedColor {
  color:indigo;
  font-weight: 700;
  
}
.GreenColor {
  color:firebrick;
  font-weight: 900;
  
}
.BlinkColor {
 
  color:darkgray
}